@model EProjectSEMIII.Models.InsideVehicleType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>InsideVehicleType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @if (Model.Status== 0)
            {
                <span style="color:aqua">Show</span>
            }
            else
            {
                <span style="color:red">Hide</span>
            }
          
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehicleType.NameOfVehicleType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InsideVehicleTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
